<a href="https://colab.research.google.com/github/dreamtim1/Python-practice/blob/master/parser.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

import os
from glob import glob

from pprint import pprint

In [ ]:
# Change to absolute path
CSV_PATH = '/home/dreamtim/Downloads/cargo_id.csv'
TXT_DIR_PATH = '/home/dreamtim/Desktop/Coding/test'

os.chdir(TXT_DIR_PATH)

In [ ]:
df = pd.read_csv(CSV_PATH)
df

                  filename       cargo_id cargo_id_additional  custom_id
0                A (1).jpg         CX2266                 NaN          0
1                A (2).jpg         CX2266              DX1512          0
2                A (3).jpg         CX2266                6202          0
3                A (4).jpg         CX2266                 202          0
4                A (5).jpg         CX2266                6202          0
..                     ...            ...                 ...        ...
431      GP010451_5313.jpg  DFDA 100526 0                 NaN         18
432      GP010451_5316.jpg  DFDA 100526 0                 NaN         18
433      GP010451_5319.jpg  DFDA 100526 0                 NaN         18
434      GP010451_5322.jpg  DFDA 100526 0                 NaN         18
435  GT_GP010451_13725.jpg         592731                 NaN         19

[436 rows x 4 columns]

In [ ]:
files = glob('*txt')
data = []

for filename in files:
    with open(filename) as f:
        cargo_id = f.read()
        data.append([filename.removesuffix('.txt') + '.jpg', cargo_id.strip()])

pprint(data)

[['1.jpg', 'ABC'], ['0.jpg', '123']]

In [ ]:
to_concat = pd.DataFrame(data, columns=df.columns[:2])
to_concat

  filename cargo_id
0    1.jpg      ABC
1    0.jpg      123

In [ ]:
df = pd.concat([df, to_concat], ignore_index=True)
df

                  filename       cargo_id cargo_id_additional  custom_id
0                A (1).jpg         CX2266                 NaN        0.0
1                A (2).jpg         CX2266              DX1512        0.0
2                A (3).jpg         CX2266                6202        0.0
3                A (4).jpg         CX2266                 202        0.0
4                A (5).jpg         CX2266                6202        0.0
..                     ...            ...                 ...        ...
433      GP010451_5319.jpg  DFDA 100526 0                 NaN       18.0
434      GP010451_5322.jpg  DFDA 100526 0                 NaN       18.0
435  GT_GP010451_13725.jpg         592731                 NaN       19.0
436                  1.jpg            ABC                 NaN        NaN
437                  0.jpg            123                 NaN        NaN

[438 rows x 4 columns]

In [ ]:
df.to_csv('combined.csv')